@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.image-back{
    background-image: url('./assets/images/jpg/conn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.glassmorphism-card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-phone-input {
    width: 100% !important;
    height: 50px !important;
    /* Add your other custom styles here */
  }

  .PhoneInputInput {
    position: relative;
    background-color: transparent;
    height: 100% !important;
  }

.PhoneInputInput:focus {
   border: none;
   outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #252243;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* for the mini spinner */
.spinner {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .dot1, .dot2, .dot3 {
  width: 10px;
  height: 10px;
  border: double;
  border-color: white;
  border-radius: 50%;
  margin: 10px;
 }
 
 .dot1 {
  animation: jump765 1.6s -0.32s linear infinite;
  background: #00203d;
 }
 
 .dot2 {
  animation: jump765 1.6s -0.16s linear infinite;
  background: #00203d;
 }
 
 .dot3 {
  animation: jump765 1.6s linear infinite;
  background: #00203d;
 }
 
 @keyframes jump765 {
  0%, 80%, 100% {
   -webkit-transform: scale(0);
   transform: scale(0);
  }
 
  40% {
   -webkit-transform: scale(2.0);
   transform: scale(2.0);
  }
 }
 
 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }

 .loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Customize the Swiper navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  padding: 30px;
  width: 40px; /* Set the width */
  height: 40px; /* Set the height */
  background-color: rgba(25, 0, 255, 0.4); /* Background color */
  color: #fff; /* Text color */
  font-size: 5px; /* Font size */
  font-weight: bold;
}

/* Hover effect
.swiper-button-prev:hover,
.swiper-button-next:hover {
  
} */

/* Active (clicked) state */
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

@media screen and (max-width: 884px) {
  .swiper-button-prev,
.swiper-button-next {
  display: none;
}
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0691d1;
}


#bg {
  background-image: url('./assets/images/jpg/community.jpg');
}